body {
    background-color: #DAEAF1;
}

hr {
    border-style: none;
    border-top: 1px dotted rgba(133, 127, 127, 0.911);
    border-width: 5px;
    width: 6%;

}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}